/* .nav-first{
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 246, 0.868);
    height: 50px;
    align-items: center;
}

.first-icons-left i{
    color: rgb(171, 116, 66);
    margin-left: 20px;
}
.first-icons-left span{
    color: grey;
    margin-left: 10px;
    font-family: sans-serif;
}
.first-icons-right{
    margin-right: 30px;
}
.first-icons-right span{
    color: gray;
}
.first-icons-right i{
    color: rgb(171, 116, 66);
    background-color: white;
    padding: 10px;
}
.carousel slide{
    position: relative;
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    color: white;
} */
.first-header{
    height: 54px;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-hd-left{
    padding-left: 50px;
}
.first-hd-left span,.first-hd-left i{
    margin-left: 8px;
}
.first-hd-left i{
    color: #AB7442;
}
.first-hd-left span{
    color: black;
}
.first-hd-right{
    padding-right: 50px;
}
.first-hd-right span{
    margin-left: 8px;
    margin-right: 12px;
    color: black;
}
.first-hd-right i{
    margin-right: 0px;
    color: #AB7442;
}
#social{
    border: 1px solid white;
    background-color: white;
    padding: 10px;
}
.navigation{
    display: flex;
    /* background-color: #AB7442; */
    height: 80px;
    /* align-items: center; */
}
.nav-left{
    /* background-color: red; */
    height: 70px;
    width: 50%;
}
.nav-center{
    width: 39%;
    /* background-color: blue; */
    height: 60px;
}
.nav-left h2{
    font-weight: 700;
    margin-top: 18px;
    padding-left: 40px;
    color: #AB7442;
}
#home{
    color: #AB7442;
}
.nav-center li{
    margin-right: 20px;
    font-size: 17px;
}
.nav-center i{
    margin-left: 6px;
}
#get-qt{
    background-color: #AB7442;
    color: white;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 25px;
}
.nav-center a{
    padding-top: 18px;
}
.nav-right{
    width: 11%;
    background-color: #AB7442;
    padding: 25px;
}
.nav-right a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-right i{
    margin-left: 2px;
}
#left-arrow,#right-arrow{
    font-size: 45px;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 19px;
    padding-right: 19px;
}
.crsl-img{
    position: relative;
}
.features{
   justify-content: center;
    display: flex;
    gap: 36px;
}
.ftr-one,.ftr-two,.ftr-three,.ftr-four{
    width: 20%;
    /* background-color: rgb(189, 127, 127); */
    /* height: 300px; */
    padding-top: 50px;
}
.features span{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: #F5F5F5;
}
.features i{
    font-size: 38px;
    margin-top: 25px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 10px;
    color: #AB7442;
}
.ftr-one div,.ftr-two div,.ftr-three div,.ftr-four div{
    font-weight: 700;
    margin-top: 30px;
    font-size: 20px;
}
.about{
    display: flex;
    margin-top: 70px;
}
.abt-left{
    /* background-color: #AB7442; */
    width: 50%;
}
.abt-left img{
    width: 100%;
}
.abt-right{
    background-color: #F5F5F5;
    width: 50%;
   
}
.abt-right h1{
    font-weight: 700;
    font-size: 50px;
    margin-top: 13%;
    margin-bottom: 3%;
    margin-left: 5%;
}
.abt-right p{
    margin-left: 5%;
    width: 85%;
    margin-bottom: 3%;
}
.hpyclint-maindiv{
    display: flex;
    gap: 150px;
    margin-left: 5%;
    margin-bottom: 50px;
}
.abt-right i{
    font-size: 45px;
    border: 1px solid #ffffff;
    background-color: white;
    padding: 10px;
    color: #AB7442;
}
.hpy-clint,.prjct-dn{
    display: flex;
    gap: 10px;
}
.abt-right h4{
    font-size: 35px;
    font-weight: 700;
    color: #AB7442;
}
.abt-right a{
    text-decoration: none;
    border: 1px solid #AB7442;
    background-color: #AB7442;
    padding:15px 50px;
    color: white;
    margin-left: 5%;
    font-size: 18px;
    transition: .5s;
}
.abt-right a:hover{
    color: white;
    background-color: #d79b62;
}
.servse{
    text-align: center;
    padding-top: 70px;
}
.servse h1{
    font-weight: 700;
    font-size: 50px;
}
.servse .card{
    margin-top: 70px;
    width: 28%;
    height: auto;
    border: 7px solid #F5F5F5;
    padding-bottom: 18px;
}
.servse img{
    transition: .5s;
    flex: 1;
}
.servse .card img:hover{
    transform: scale(1.1);
    flex: 1;
}
.servs-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.servse .card-tittle{
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.servse .card-para{
    margin-bottom: 10px;
}
.servse .card a{
    text-decoration: none;
    color: #AB7442;
}
.servse .card i{
    margin-left: 7px;
}
.why-choos-left,.why-choos-right{
    width: 50%;
    
}
.why-choos{
    display: flex;
    background-color: #F5F5F5;
    margin-top: 110px;
}
.why-choos h1{
    font-weight: 700;
    margin-left: 5%;
    margin-top: 10%;
}
.why-choos p{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}
.why-choos-maindiv{
    display: flex;
}
.why-choos-subdiv{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.why-choos-subdiv i{
    font-size: 40px;
    color: #AB7442;
    background-color: white;
    padding: 7px;
}
#left{
    /* margin-right: 20%;*/
    margin-left: 10%;
    width: 40%;

}
.qty-text h4{
    font-weight: 700;
}
.why-choos-right img{
    width: 100%;
}
.prjct-head-nav{
    text-align: center;
    margin-top: 80px;
}
.our-projects h1{
    font-size: 50px;
    font-weight: 700;
}
.project-nav{
    margin-top:30px ;
}
.project-nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
}
.all{
    color: #AB7442;
    border-bottom: 2px solid #AB7442;
}
.our-projects .card{
    width: 450px;
    background-color: #F5F5F5;
    border: 5px solid #eaeaea;
    padding-bottom: 20px;
}
.our-projects img{
    transition: 0.5s;
}
.our-projects img:hover{
    transform: scale(1.1);
    flex: 1;
}
.prjct-card-text{
    color: #AB7442;
    margin-left: 5%;
    padding-top: 20px;
}
.prjct-card-para{
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    margin-left: 5%;
}
.project-lists{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.free-quote{
    margin-top: 80px;
    display: flex;
}
.qout-left,.qout-right{
    width: 50%;
    background-color: #eaeaea;
    /* height: 400px; */
}
.qout-left img{
    width: 100%;
}.qout-right h1{
    margin-left: 5%;
    font-weight: 700;
    margin-top: 10%;
    font-size: 50px;
}
.qout-right p{
    width: 80%;
    margin-left: 5%;
    margin-top: 3%;
    font-size: 17px
}
.qoute-form{
    margin-left: 5%;
}
.qoute-form input{
    border: none;
    padding: 17px;
    padding-right: 80px;
    margin-bottom: 14px;
}
#mail,#select{
    margin-left: 10px;
}
.qoute-form select{
    border: none;
    padding: 17px;
    padding-right: 131px;
}
.qoute-form textarea{
    border: none;
    padding: 9px;
    padding-right: 323px;
}
.qoute-form button{
    border: none;
    background-color: #AB7442;
    color: white;
    padding: 17px 260px;
    margin-top: 7px;
}
.tm-membrs{
    text-align: center;
    margin-top: 70px;
}
.tm-membrs h1{
    font-size: 50px;
    font-weight: 700;
}
.members img{
    width: 100%;
}
.members .card{
    width: 300px;
    padding-bottom: 20px;
    margin-top: 70px;
}
.members .card h4{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.members{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.testimonials{
    margin-top: 70px;
    text-align: center;
}
.testimonials h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.carousel-item img{
    width: 7%;
}
.crsl-items{
    text-align: center;
}
